spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/boot_community
    username: njkim
    password: 1234
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    h2:
      console:
        enabled: true
        path: /console
    devtools:
      livereload:
        enabled: true
  thymeleaf:
    cache: false
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 241670378763-petbvta0tldqerqd7vml4e6tl8nq2dhv.apps.googleusercontent.com
            client-secret: XyqZs8qG7aOrBPpEfknfsFsP
          facebook:
            client-id: 1471211259687658
            client-secret: fa8d0c696b6b02a34e6570f60bc876e8
custom:
  oauth2:
    kakao:
      client-id: 3ba21c1ac186aec08af12c1fda4513c9